{{#partial "content"}}
    {{#if animals}}
        <h2>Common animals</h2>
            <div class="container">
                <div class="row">
                    {{#each animals}}
                    <div class="col-md-4">
                        <div class="card p-4 mt-2">
                            <h3>{{name}}</h3>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        <hr class="mt-4 mb-4">
        {{else}}
        <h1 class="text-center">No animal to track.</h1>
    {{/if}}
    {{#if endangeredAnimals}}
        <h2>Endangered animals</h2>
            <div class="container">
                <div class="row">
                    {{#each endangeredanimals}}
                        <div class="col-md-4">
                            <div class="card p-4 mt-2">
                                <h3>{{name}}</h3>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{else}}
        <h2>No endangered animal at the moment</h2>
    {{/if}}
{{/partial}}
{{>layout.hbs}}