{{#partial "content"}}
    <section>
        <h1 class="text-center">LETS KEEP TRACK OF ALL THE WILD ANIMALS IN KENYA</h1>
        <div class="text-center ">
            <button class="btn btn-outline-success">ADD AN ANIMAL</button>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}