{{#partial "content"}}
    <div class="track">
        <h1 class="text-center">LETS START TRACKING</h1>
        <div class="tracker-form">
            <div class="card p-4">
                <h2 class="text-center">TRACK AN ANIMAL</h2>
                <hr>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#common">Common animals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#endangered">Endangered animals</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="common">
                        <h2 class="text-center">Common animals</h2>
                        <form action="/wildlife/new" method="post">
                            <div class="form-group">
                                <label for="animalId">Animal id</label>
                                <input type="number" class="form-control"  name="animalId" id="animalId" aria-describedby="emailHelp" placeholder="Enter animal id">
                            </div>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" name="location" id="location" aria-describedby="emailHelp" placeholder="Enter location">
                            </div>
                            <div class="form-group">
                                <label for="ranger">Ranger's name</label>
                                <input type="text" class="form-control" name="ranger" id="ranger" aria-describedby="emailHelp" placeholder="Enter ranger's name">
                            </div>

                            <button class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="tab-pane container fade" id="endangered">
                        <h2 class="text-center">Endangered animals</h2>
                        <form action="/wildlife/new" method="post">
                            <div class="form-group">
                                <label for="animalId">Animal id</label>
                                <input type="number" class="form-control" name="animalId" id="animalId" aria-describedby="emailHelp" placeholder="Enter animal id">
                            </div>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" name="location" id="location" aria-describedby="emailHelp" placeholder="Enter location">
                            </div>
                            <div class="form-group">
                                <label for="ranger">Ranger's name</label>
                                <input type="text" class="form-control" name="ranger" id="ranger" aria-describedby="emailHelp" placeholder="Enter ranger's name">
                            </div>
                            <div class="form-group">
                                <label for="health">Health</label>
                                <select class="form-control" id="health" name="health">
                                    <option>healthy</option>
                                    <option>ill</option>
                                    <option>okay</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <select class="form-control" id="age" name="age">
                                    <option>newborn</option>
                                    <option>young</option>
                                    <option>adult</option>
                                </select>
                            </div>
                            <button  class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}